/*barra de navegacion*/
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5c7a8;
    padding: 0.5rem 1rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navbar a:hover {
    background-color: #d29a75;
    border-radius: 5px;
}

.navbar .menu {
    display: flex;
}

/*titulo y subtitulo*/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 15px;
}
/*botones*/
.boton {
    text-align: center;
}
/*tarjeta*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  color:  black;
  background-color:  #f5c7a8;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32px;
  font-style: italic;
  margin-bottom: 3rem;
}

h2 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0.5rem 0;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 4rem 1rem;
  margin: 0 auto;
}

section img {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 1rem 0;
  display: block;
  border-radius: 8px;
  transform-origin: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media screen and (max-width: 580px) {
    grid-template-columns: 1fr;
  }
}

@keyframes scaleProgress {
  from {
    transform: scalex(0);
  }
  to {
    transform: scalex(100%);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  width: 100%;
  height: 1rem;
  z-index: 1;
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);

  transform-origin: 0 50%;

  /* scroll animation*/
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

@keyframes fade-in {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  animation: fade-in linear both;
  /* view function */
  animation-timeline: view();
  animation-range: entry 10% entry 80%;
}

  /* targeta de contactos y sobre nosotros*/
.card {
    background: #e8cab6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
    padding: 60px;
    margin: 20px auto;

}
.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}
.card p {
    color: #777;
    font-size: 0.9em;
    line-height: 1.5;
}
.card button {
    background: #f5c7a8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover {
    background: #f5c7a8;
 }
   /* categorias*/
   .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin: 100px auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  .category {
    background-color:  #e8cab6;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .category:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  .category img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  .category h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  .category p {
    font-size: 14px;
    color: #666 }
/*pie de pagina*/
footer {
    background-color: #bc967c;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
